* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.gochi-hand {
  font-family: "Gochi Hand", cursive;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
}

/* body {
  background-color: gray;
} */