* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --tml-bg: #17a494;
  --tml-lg-shdw: #c4d0c8;
  --tml-ex-cl: #f88ea2;
  --tml-ex-shdw: #c7212a;
  --tml-ex-btn: #f7a201;
  --tml-ex-btn: #f7a201;
  --tml-st-gm: #844465;
}

.gochi-hand {
  font-family: "Gochi Hand", cursive;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: var(--tml-bg);
  padding-bottom: 10rem;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.title {
  color: white;
  text-align: center;
  font-size: 4rem;
  padding: 1rem 0;
}

.d-flex {
  display: flex;
}

.text-center {
  text-align: center;
}

.extract-table {
  width: 15%;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.extract-number-square {
  background-color: white;
  aspect-ratio: 1 / 1;
  width: 100px;
  justify-content: center;
  align-items: center;
}

.extract-number {
  font-size: 2rem;
}

.separator {
  width: 100%;
  height: 1px;
  background-color: white;
}

.btn {
  padding: 0.65rem 1.5rem;
  border-radius: 10px;
  cursor: pointer;
}

.btn:hover {
  box-shadow: 0px 0px 5px white;
}

.btn-extract {
  background-color: var(--tml-ex-btn);
  border: 2px solid black;
  color: white;
}

.btn-stopgame {
  background-color: var(--tml-st-gm);
  border: 2px solid var(--tml-st-gm);
  color: var(--tml-bg);
}






.table-game {
  width: 70%;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.token {
  align-items: center;
  justify-content: center;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  background-color: white;
  box-shadow: -3px 3px var(--tml-lg-shdw);
  border: 1px solid white;
  font-size: 2rem;
}

.num-extract {
  background-color: var(--tml-ex-cl);
  box-shadow: -3px 3px var(--tml-ex-shdw);
  border: 1px solid var(--tml-ex-shdw);
}